@font-face {
  font-family: "Proxima_Nova";
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima_Nova";
  src: url("../fonts/proxima_nova_bold-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Proxima_Nova", 'Open Sans';
  font-size: 16px;
  background-color: #fff;
  letter-spacing: 0;
  color: #333; }

a {
  color: #3f6fff; }

a:hover {
  color: #1243d5; }

.white-text {
  color: #fff !important; }

.gray-text {
  color: #656C73 !important; }

.text-success {
  color: #00a96a !important; }

.btn-danger {
  color: #fff;
  background-color: #ff4456;
  border-color: #ff4456; }

.btn-danger:hover {
  background-color: #fff;
  color: #ff4456;
  border-color: #ff4456; }

.btn-secondary, .btn-secondary:hover {
  background: #d5d5d5;
  color: #333;
  border: 1px solid #bdbdbd; }

.btn-secondary:hover {
  background-color: #fff;
  color: #333;
  border-color: #333; }

.blue-text {
  color: #095EAB !important; }

.semibold-text {
  font-weight: 600 !important; }

.font-weight-700 {
  font-weight: 700 !important; }

.lightgray-text {
  color: #828282; }

.regular-text {
  font-weight: 500 !important; }

.text-right {
  text-align: right !important; }

.btn {
  padding: 7px 19px;
  transition: all 0.3s ease 0s; }

.btn:hover {
  box-shadow: 0px 4px 6px rgba(185, 185, 185, 0.7);
  transform: translateY(-1px); }

button:focus {
  outline: none; }

.btn {
  border-radius: 3px;
  letter-spacing: 0px;
  box-shadow: none !important; }

.btn-sm {
  padding: 2px 8px !important;
  font-size: 11px !important;
  display: flex;
  align-items: center; }

.btn-sm i {
  font-size: 12px !important;
  margin-right: 8px !important; }

.filter .btn-sm {
  padding: 15px 11px !important;
  font-size: 11px !important; }

.filter .btn-sm i {
  margin-right: 0px !important; }

.btn-md {
  padding: 7px 15px;
  font-size: 16px; }

.small, small {
  font-size: 9px;
  line-height: 1; }

p.lead {
  font-size: 18px;
  line-height: 1.4em; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h3 {
  font-size: 19px;
  color: #343E44;
  font-weight: 600; }

label {
  color: #333;
  font-weight: 600; }

.badge.bg-success {
  background-color: rgba(15, 234, 188, 0.21) !important;
  color: #00A697; }

.badge.bg-success {
  background-color: rgba(15, 234, 188, 0.21) !important;
  color: #00A697; }

.bg-warning {
  background-color: rgba(243, 202, 62, 0.29) !important;
  color: #D2A300; }

.btn-banned {
  background-color: rgba(130, 130, 130, 0.23); }

.form-control::placeholder {
  color: #000;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #000; }

.form-control::-ms-input-placeholder {
  color: #000; }

.form-control:focus {
  box-shadow: none; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 3px 3px #e5e5e5;
  padding: 7px 0;
  background: #fff; }

footer p {
  font-size: 14px; }

.blue-btn {
  background: #1cb2c9;
  color: #fff; }

.blue-btn:hover {
  box-shadow: 0px 4px 6px #bfbfbf;
  color: #fff; }

.btn-primary {
  background-color: #3f6fff;
  border-color: #3f6fff !important; }

.btn-primary:hover, .btn-primary:focus {
  background-color: #1243d5;
  border-color: #1243d5 !important; }

.btn i {
  font-size: 13px;
  font-size: 1.3rem; }

.bg-white {
  background-color: #fff; }

.large-text {
  font-size: 25px; }

/*========================main css==================*/
.page-content {
  padding: 1.5rem;
  min-height: 78vh; }

.btn-search {
  background: transparent;
  color: #333;
  border: 0;
  padding: 0; }

.btn-search:hover, .btn-search:focus {
  background-color: transparent;
  color: #333;
  box-shadow: none !important;
  transform: none;
  border: 0;
  outline: none; }

.btn-search.dropdown-toggle::after {
  display: none; }

.top-menu .dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 10px;
  width: 350px; }

.navbar-toggler-icon {
  width: 26px;
  height: 3px;
  background: #196aa9;
  display: block;
  margin-bottom: 6px; }

.breadcrumbs {
  background-color: #fff;
  padding: 12px 25px; }

.breadcrumbs h6 {
  color: #000 !important; }

.main {
  display: table;
  width: 100%;
  height: 100vh; }

.page-wrapper {
  background: #f3f6f8; }

.left-side {
  background: url(../images/login-bg-qr.jpg);
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  position: relative;
  z-index: 9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%; }

.left-side:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #00529b;  */
  background: linear-gradient(to bottom, #3f6fff 0%, #1243d5 100%);
  background: linear-gradient(to bottom, #3f6fff 0%, #1243d5 100%);
  background: linear-gradient(to bottom, #3f6fff 0%, #1243d5 100%);
  z-index: -1;
  opacity: 0.8; }

.right-side {
  width: 60%;
  vertical-align: middle;
  padding: 50px 190px;
  height: 100%;
  display: table-cell; }

.login input.form-control {
  background-color: #ffffff;
  padding: 12px 15px; }

.social-media-list li a {
  transition: all 0.3s ease 0s; }

.social-media-list li a:hover img {
  box-shadow: 0px 4px 6px #b9b9b9;
  transform: translateY(-1px); }

.form-control {
  background-color: #efefef;
  border-color: #e5e5e5;
  padding: 8px 16px;
  height: auto; }

.logo-icon {
  width: 130px; }

.simplebar-mask {
  background: url(../images/sidebar-bg.png) left bottom;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, 0%, #1243d5 100%); }

.sidebar-wrapper .metismenu a .menu-title {
  margin-left: 10px;
  color: #fff;
  white-space: nowrap; }

.sidebar-wrapper .metismenu a .parent-icon {
  color: #fff;
  font-size: 22px;
  line-height: 1;
  width: 30px;
  text-align: center; }

.sidebar-wrapper .metismenu a:hover {
  background: rgba(255, 255, 255, 0.22); }

.sidebar-wrapper .metismenu .mm-active > a {
  background: rgba(255, 255, 255, 0.22); }

.sidebar-wrapper .metismenu a {
  padding: 14px 10px; }

.sidebar-wrapper .metismenu ul a i {
  margin-right: 16px; }

.sidebar-wrapper .metismenu ul a {
  padding: 8px 15px 8px 17px; }

.toggle-icon {
  color: #000;
  font-size: 32px; }

/*.metismenu > li.mm-active > ul.mm-show > li.mm-active > a{
  background-color: #1fab9d;
}
.metismenu > li > ul.mm-show > li:hover > a{
  background-color: #1fab9d;
}*/
/*======================Administrator=======================*/
div.dataTables_wrapper div.dataTables_filter input {
  min-height: auto;
  padding: 4px 5px;
  width: 125px; }

.btn-edit {
  background: rgba(51, 153, 255, 0.24);
  padding: 5px 5px;
  display: flex;
  align-items: center; }

.btn-banned {
  background: rgba(130, 130, 130, 0.23);
  padding: 5px 5px;
  display: flex;
  align-items: center; }

.btn-trash {
  background: rgba(255, 51, 102, 0.24);
  padding: 5px 5px;
  display: flex;
  align-items: center; }

.btn-reset {
  background: rgba(250, 153, 23, 0.23);
  padding: 5px 5px;
  display: flex;
  align-items: center; }

table.dataTable th {
  border-bottom: 1px solid #e9e9e9  !important; }

table.dataTable td, table.dataTable th {
  border-bottom: 0; }

.modal .form-control {
  background-color: #E8F4FF;
  border-color: #cfe0ef;
  padding: 9px 16px;
  height: 35px;
  font-size: 14px; }

.modal-title {
  color: #095EAB; }

/*=====================customers==================*/
table.dataTable td {
  /* font-size: 14px; */
  padding: 10px 0.5rem;
  font-weight: 500; }

/*====================Devices=============*/
.text-danger .dot:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: -9px;
  top: 8px;
  background-color: #f41127;
  border-radius: 50%; }

.text-success .dot:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: -9px;
  top: 8px;
  background-color: #00a96a;
  border-radius: 50%; }

.btn-back {
  background-color: rgba(1, 74, 140, 0.23);
  padding: 4px 15px;
  border-radius: 33px;
  font-size: 13px; }

.form-select-sm {
  font-size: 13px;
  padding: 3px 19px 2px 5px;
  background-position: 84% 50%; }

@media screen and (min-width: 1025px) {
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text {
    display: none; }

  .wrapper .sidebar-wrapper .sidebar-header .menubar-icon {
    display: none; }

  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .menubar-icon {
    display: block; } }
/*=====================Registration================*/
.signup .right-side {
  padding: 50px 100px; }

/*===============Subscription==================*/
.topbar.topbar-custom {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px; }

.topbar-custom ul li a {
  color: #000; }

.custom-margin-top {
  margin-top: 75px; }

.card.basic .card-header {
  background-color: #DDD9D9;
  border-bottom-color: #DDD9D9; }

.card.standard .card-header {
  background-color: #468DD0; }

.card.premium .card-header {
  background-color: #F28682; }

.text_first {
  font-size: 17px; }

.text_middle {
  font-size: 30px;
  font-weight: 700; }

.card.basic, .card.standard, .card.premium {
  background-color: #F2F2F2;
  box-shadow: 0 0 4px 2px #ddd; }

.card.basic ul, .card.standard ul, .card.premium ul {
  width: 50%;
  margin: 0 auto; }

.card.basic ul li, .card.standard ul li, .card.premium ul li {
  margin-bottom: 8px; }

.card.basic ul li span, .card.standard ul li span, .card.premium ul li span {
  display: inline-block;
  width: 20px; }

.card-footer {
  background-color: transparent; }

.active.card .card-header {
  background-color: #26B764; }

.active.card .btn {
  background-color: #26B764;
  border-color: #26B764; }

table.dataTable th {
  border-bottom: 1px solid #e9e9e9 !important; }

/*========================payment======================*/
.payment-card {
  display: table;
  width: 100%; }

.card-left {
  display: table-cell;
  width: 35%;
  background: #014a8c;
  background: -moz-linear-gradient(top, #014a8c 0%, #4086c6 50%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #014a8c 0%, #4086c6 50%, #7db9e8 100%);
  background: linear-gradient(to bottom, #014a8c 0%, #4086c6 50%, #7db9e8 100%);
  padding: 25px 20px;
  vertical-align: top; }

.card-right {
  display: table-cell;
  width: 65%;
  background-color: #C9E5FF;
  padding: 80px 75px; }

.nav-pills .nav-link {
  width: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  text-align: left;
  padding: 14px 14px;
  border-bottom: 2px solid #86BDF0;
  border-radius: 0; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1F5C95;
  border-bottom: 2px solid #86BDF0; }

/*=================payment successful==========*/
.payment-successful-card {
  background: #014a8c;
  background: -moz-linear-gradient(top, #014a8c 0%, #236db0 50%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #014a8c 0%, #236db0 50%, #7db9e8 100%);
  background: linear-gradient(to bottom, #014a8c 0%, #236db0 50%, #7db9e8 100%);
  padding: 60px; }

.profile-tab .nav-pills .nav-link.active, .profile-tab .nav-pills .show > .nav-link {
  color: #014A8C;
  background-color: #F3F6F8;
  border-bottom: 0;
  border-radius: 7px; }

.profile-tab .nav-pills .nav-link {
  color: #333333;
  padding: 10px 14px;
  border-bottom: 0;
  border-radius: 0; }

.avatar-upload {
  position: relative;
  max-width: 100px;
  margin: 0; }

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px; }

.avatar-upload .avatar-edit input {
  display: none; }

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.58);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: -15px;
  top: -11px; }

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6; }

.avatar-upload .avatar-edit input + label:after {
  content: "\f304";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  color: #757575;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto; }

.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

table.table th {
  border-bottom: 1px solid #e9e9e9 !important; }

table.table td {
  border-bottom: 0; }

/*=========logout===========*/
.logout-card {
  height: 300px;
  display: flex;
  justify-content: center; }

/*======dashboard==========*/
/* .card_1 .widgets-icons {
    background-color:rgb(30 197 163 / 86%)!important;
}
.card_2 .widgets-icons {
    background-color:rgb(255 152 0) !important;
}
.card_3 .widgets-icons {
    background: rgb(96 125 139) !important;
}
.card_4 .widgets-icons {
    background: rgb(255 87 34) !important;
}
.card_5 .widgets-icons {
    background: rgb(189 123 99) !important;
}
.card_6 .widgets-icons {
    background:rgb(225 56 129) !important;
} */
.widgets-icons {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 21px; }

/*===========buyers=====*/
.metismenu .has-arrow:after {
  transform: rotate(136deg) translateY(-50%);
  color: #fff; }

.metismenu .has-arrow[aria-expanded=true]:after, .metismenu .mm-active > .has-arrow:after {
  transform: rotate(226deg) translateY(-50%); }

.sidebar-wrapper .metismenu ul {
  border: 1px solid rgba(255, 255, 255, 0.22);
  background: rgba(255, 255, 255, 0.22); }

.sidebar-wrapper .metismenu ul a, .sidebar-wrapper .metismenu ul a:hover,
.sidebar-wrapper .metismenu .mm-active > a {
  color: #fff; }

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc:after {
  display: none; }

table.table th:first-child {
  padding-right: 0 !important; }

.sidebar-wrapper .metismenu li:first-child {
  margin-top: 0; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #eef1f3 !important;
  --bs-table-accent-bg: none; }

.sidebar-wrapper .metismenu li:last-child {
  margin: 0; }

.breadcrumbs h6 {
  font-size: 14px; }

.card-header {
  padding: 13px 14px;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  color: #3f6fff;
  background: #fff; }

.form-select.select-box {
  background-color: #efefef;
  /* font-size: 14px;
  height: 39px; */
  border-color: #e5e5e5; }

.tox-statusbar__branding {
  display: none !important; }

.page-footer {
  width: calc(100% - 250px); }

label span {
  color: red; }

.list-content .dataTables_filter {
  display: none !important; }

.filter .form-select.select-box {
  padding: 5px 33px 5px 10px;
  height: 33px;
  font-size: 15px; }

.filter .input-group .form-control {
  padding: 3px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 210px;
  font-size: 15px; }

.filter .input-group .form-select.select-box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #dfdcdc; }

.form-select:focus {
  box-shadow: none; }

.filter {
  position: absolute;
  right: 10px;
  top: 0; }

.list-content table, .list-content table,
.list-content table, .list-content table {
  padding-top: 30px; }

.filter label {
  white-space: nowrap;
  /* color: #129984; */ }

.sidebar-wrapper, .sidebar-header {
  width: 270px; }

.page-wrapper {
  margin-left: 270px; }

.user-name-box p {
  background: #fab115;
  padding: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  line-height: 2.5em; }

.page-item .page-link {
  color: #3f6fff; }

.page-item.active .page-link {
  color: #fff;
  background-color: #3f6fff;
  border-color: #btnbg; }

.simplebar-scrollbar:before {
  background: #1cb3cc; }

.date-filter #datepicker .form-control, .date-filter #datepicker1 .form-control {
  padding: 4px 6px;
  width: 121px !important;
  background: #fff;
  font-size: 15px; }

.date-filter .input-group-addon {
  border: 1px solid #e5e5e5;
  width: 40px;
  border-radius: 0.25rem;
  text-align: center;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center; }

.input-group-addon i {
  font-size: 15px;
  text-align: center; }

.white-space-nowrap {
  white-space: nowrap; }

.table-header th {
  background-color: #e9e9e9; }

.table-border tr td {
  border-bottom: 1px solid #f1f1f1; }

.top-search {
  background: #e8eaee;
  border-radius: 100px;
  overflow: hidden;
  display: inline-flex;
  align-items: center; }

.top-search {
  background: #e8eaee;
  border-radius: 100px;
  min-width: 500px; }

.top-search i {
  font-size: 17px;
  margin-left: 15px; }

.top-search input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px; }

.dashbox-line {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 10px;
  top: 0px; }

.product-list, .customers-list {
  height: auto; }

.back-to-top {
  background-color: #3f6fff; }

.back-to-top:hover {
  background-color: #1243d5; }

.pace .pace-progress {
  background-color: #3f6fff; }

.sidebar-wrapper .metismenu a {
  font-size: 16px; }

.form-control:focus {
  border-color: #86b7fe; }

.sidebar-wrapper .metismenu .mm-active > a, .sidebar-wrapper .metismenu a:active, .sidebar-wrapper .metismenu a:focus, .sidebar-wrapper .metismenu a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.22); }

.dropdown-item.active, .dropdown-item:active {
  background-color: #3f6fff; }

/*=======================media query===================*/
@media screen and (max-width: 1024px) {
  .page-wrapper {
    margin-left: 0; }

  .page-footer {
    left: 0;
    width: 100% !important; } }
@media (max-width: 991px) {
  .topbar-custom ul li a {
    color: #fff; }

  .profile-nav button br {
    display: none; }

  .left-side, .right-side, .signup .right-side {
    display: block;
    width: 100%;
    padding: 100px 50px;
    height: auto; }

  .logo {
    width: 130px; }

  .wrapper.toggled .menubar-icon {
    display: none; }

  .card.basic ul, .card.standard ul, .card.premium ul {
    width: 58%; }

  .topbar .navbar {
    padding-left: 15px;
    padding-right: 15px; }

  .navbar-collapse {
    background-color: #1969b0;
    padding: 20px; }

  .navbar-collapse ul li {
    display: block;
    margin-bottom: 14px; }

  .card-right {
    padding: 80px 34px; }

  .filter {
    position: relative;
    right: auto;
    top: 0;
    flex-wrap: wrap; } }
@media (max-width: 767px) {
  .card-right, .card-left {
    display: block;
    width: 100%; }

  div.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 10px; }

  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right; }

  .filter > div {
    margin-left: 0 !important;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%; }

  .filter .input-group, .filter .input-group-prepend {
    margin: 0 !important;
    width: 100%; }

  .filter label {
    margin-bottom: 10px; }

  .filter .btn {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    margin-left: 0 !important; }

  .date-filter {
    display: block !important; }

  .datepicker-div {
    margin-bottom: 10px; } }
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px; } }

/*# sourceMappingURL=custom.css.map */
